a{ text-decoration:none}

.Home-Hello {
  width: 90%;
  position: relative;
  top: 20px;
  margin: 0 auto;
}

.Home-Hello-p {
  font-size: 24px;
}

.Home-Hello-av {
  float: right;
  margin-top: -80px;
}

.Home-Card {
  margin-top: 50px;
}

.Home-Card h3{
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
}